@page "/"

<PageTitle>Blazor Full Stack Crud (SQLITE)</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Tutors Table</h2>
            <p>Table mapping to the Tutor model.</p>
            <table class="table table-bordered table-model">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Tutors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1" class="table-col">
                            ID
                        </td>
                        <td colspan="1" class="table-col">
                            (PK) Int
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            FirstName
                        </td>
                        <td class="col-1">
                            String NN
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            LastName
                        </td>
                        <td class="col-1">
                            String
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            ProtopageURL
                        </td>
                        <td class="col-1">
                            String
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            Email
                        </td>
                        <td class="col-1">
                            String
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            Phone
                        </td>
                        <td class="col-1">
                            String
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            MobilePhone
                        </td>
                        <td class="col-1">
                            String
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            (FK) BusinessId
                        </td>
                        <td class="col-1">
                            Int
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col">
             <h2>Business Table</h2>
    <p>Table mapping to the Business model.</p>
    <table class="table table-bordered table-model">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Business</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" class="table-col">
                    BusinessId
                </td>
                <td colspan="1" class="table-col">
                    (PK) Int
                </td>
            </tr>
            <tr>
                <td class="col-1">
                    Name
                </td>
                <td class="col-1">
                    String NN
                </td>
            </tr>          
        </tbody>
    </table>
        </div>
        <div class="col">
            <h2>Student Table</h2>
            <p>Table mapping to the Student model.</p>
            <table class="table table-bordered table-model">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Student</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1" class="table-col">
                            StudentId
                        </td>
                        <td colspan="1" class="table-col">
                            (PK) Int
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            FirstName
                        </td>
                        <td class="col-1">
                            String NN
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            LastName
                        </td>
                        <td class="col-1">
                            String NN
                        </td>
                    </tr>
                    <tr>
                        <td class="col-1">
                            School
                        </td>
                        <td class="col-1">
                            String NN
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>







@code {

}