
.input-group > input.invalid  {
    outline: none;
}

.fred {
    background-color: red;
    color: yellow;
}

#freddy {
    border-style: solid;
    border-width: 10px;
}

.addBusinessLink{
  /*  border-style:solid;
    border-color:blue;
    color:blue;
    border-width:thin;*/
  cursor:pointer;
}

#SelectBusiness{
    width:20em;
}
